.custom-btn {
  width: 60%;
  background-color: #ff832b;
}
.custom-btn:active, .custom-btn:visited, .custom-btn:focus {
  background: #ffa15e;
}
.custom-btn:hover {
  background: #ffbf91;
}

.custom-narrow-btn {
  width: 50%;
}

.form-control {
  margin: 1rem 0;
}

.lightbox-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.lightbox {
  background-color: #c4dac8;
  position: fixed;
  width: 100%;
}

.lightbox-alert {
  margin: 10% auto;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 60%;
  padding: 2em;
  padding-bottom: 5em;
}

.close-lightbox {
  background-color: #f24643;
  width: 60%;
  opacity: .3;
  color: white;
  padding: 1em 4em;
  border-radius: 5px;
}
.close-lightbox:hover {
  background: #f57573;
}
.close-lightbox:hover {
  cursor: pointer;
}

.close-lightbox-link {
  color: #3e6144;
  cursor: pointer;
}
.close-lightbox-link:hover {
  color: #a5c6ab;
  text-decoration: none;
}

.alert-danger {
  text-align: left;
  line-height: 1.4;
  display: none;
}
