// Colors
$flatOrange: #FF832B;
$flatRed: #F24643;
$flatTan: #FFCC62;
$flatBeige: #F7F09E;
$flatGreen: #679E71;

// Sign up Button 
.registration-btn,
.signup-btn {
    width: 60%;
    background-color: $flatOrange;
    &:active,
    &:visited,
    &:focus {
        background: lighten($flatOrange, 10%);
    }
    &:hover {
        background: lighten($flatOrange, 20%);
    }
}

.form-control {
    margin: 1rem 0;
}

// custom lightbox
.lightbox-container {
     z-index: 3;
     position: absolute;
     top: 0;
     left: 0;
     display: none;
}

.lightbox {
     background-color: $flatGreen;
     // opacity: ;
     position: fixed;
     // height: 100%;
     width: 90%;
}

.lightbox-alert, {
     margin: 10% auto;
     border-radius: 5px;
     background-color: white;
     display: block;
     width: 60%;
     padding: 2em;
     padding-bottom: 5em;
}

.close-lightbox {
     background-color: $flatRed;
     width: 60%;
     &:hover {
        background: lighten($flatRed, 10%);
     }
     opacity: .3;
     color: white;
     padding: 1em 4em;
     border-radius: 5px;
     &:hover {
          cursor: pointer;
     }
}

// remove link color
a {
    color: blue;
}

h3 {
    color: white;
    text-shadow: 0px 1px 5px rgba(55,55,55,.4);
}

// padding on the lightbox
.alert-danger {
    margin: 2rem;
}
