doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/styles/main.css")
		link(rel="stylesheet", type="text/css", href="/styles/bubble.css")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css")
	body
		block content

	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.7/TweenMax.min.js')
	//- put these in the public folder
	script(type='text/javascript', src='/js/scrollmagic.js')
	script(src='/min/main.min.js')